*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header{
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    z-index: 2;
    background: linear-gradient(-90deg, #031540 65%, #fff 35%);
}
.header__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 25px;
    color: #031540;
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}
.navbar a:hover,
.navbar a.active{
    color: #00abf0;

}
.burger{
    display: none;
}


.home{
    height: 110vh;
    background: linear-gradient(-90deg, #031540 65%, #fff 35%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    margin-top: 0;
    margin-bottom: 20px;
}

.home-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    background: #031540;
    border-radius: 50%;
    border: 25px solid #fff;
    outline: 25px solid #031540;
    
}

.home-image img{
    position: 380px;
    max-width: 380px;
}
.home-content{
    width: 600px;
    color: #fff;
    text-align: right;
}

.home-content h1 {
    font-size: 55px;
    line-height: 1.2;
}

.home-content h3{
    font-size: 40px;
    margin-top: 10px;
    color: transparent;
    -webkit-text-stroke: .5px #fff;
    background-image: linear-gradient(#00abf0, #00abf0);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -410px 0;
    animation: animateText 8s linear infinite;
}

@keyframes animateText{
    0%,95%,100%{
        background-position: -410px 0;
    }
    65%,85%{
        background-position: 0 0;
    }
}

.home-content p {
    font-size: 16px;
    margin-top: 10px;

}

.home-sci{
    margin: 25px 0 40px;

}

.home-sci a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    margin-left: 12px;
    transition: .5s;
}

.home-sci a:hover {
    background: #00abf0;
    color: #fff;
    border-color: #00abf0;
    box-shadow: 0 0 10px #00abf0;

}

.btn{
    padding: 12px 35px;
    background: #00abf0;
    border-radius: 40px;
    font-size: 17px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    box-shadow: 0 0 10px #00abf0;
    transition: .5s;
}

.btn:hover{
    box-shadow: none;
}


@media(max-width:1100px){
    .home-image{
        width: 400px;
        height: 400px;
    }
    .logo {
        font-size: 20px;
    }
    .home-content {
        width: 50%;
    }
    .navbar a{
        gap: 40px;
    }
    .home-content h1 {
        font-size: 45px;
    }
    .home-content h3 {
        font-size: 35px;
    }
}
@media(max-width:960px){
    .home-content h1 {
        font-size: 40px;
    }
    .home-content h3 {
        font-size: 30px;
    }
}
@media(max-width:900px){
    .home-image{
        width: 365px;
        height: 365px;
    }
    .home-content h1 {
        font-size: 40px;
    }
    .home-content h3 {
        font-size: 30px;
    }
}
@media(max-width:880px){
    .home-image{
        width: 300px;
        height: 300px;
        border: 15px solid #fff;
        outline: 20px solid #031540;
    }
    
}
@media(max-width:840px){
    .home-content h1 {
        font-size: 35px;
    }
    .home-content h3 {
        font-size: 25px;
    }
    .home-sci a{
        width: 30px;
        height: 30px;
    }
    .btn{
        font-size: 14px;
        font-weight: 450;
    }
    .logo{
        font-size: 16px;
    }
    .navbar a {
        font-size: 14px;
        right: 5px;
    }
    .home-sci{
        margin: 25px 0 30px;
    
    }
}
@media(max-width:715px){
    .navbar a {
        font-size: 13px;
        right: 5px;
    }
}
@media(max-width:700px){
    .navbar a {
        font-size: 10px;
        right: 5px;
    }
    .home-image{
        width: 250px;
        height: 250px;
    }
}
@media(max-width:670px){
    .home-content h1 {
        font-size: 25px;
    }
    .home-content h3 {
        font-size: 20px;
    }
    .home-content p {
        font-size: 10px
    }
}
@media(max-width:600px){
    .header{
        position: none;
        background: linear-gradient(-90deg, #031540 50%, #fff 50%);
    }
    .navbar a {
        display: none;
    }
    .burger{
        width: 35px;
        display: block;
        background-color: #fff;
        border-radius: 50%;

    }
    .logo{
        font-size: 30px;
    }
    .home{
        display: flex;
        flex-direction: column;
        height: auto;
        background: linear-gradient(-90deg, #031540 50%, #fff 50%);
    }
    .home-image{
        margin: 30px auto;
        width: 400px;
        height: 400px;
    }

    .home-content{
        width: 90%;
    }
    .home-content h1 {
        text-align: center;
        font-size: 40px;
        color: aqua;

    }
    .home-content h3{
        -webkit-text-stroke: .5px black;
        font-size: 40px;
    }
    .home-content p{
        color: #fff;
        font-size: 13px;
    }
    .home-content__wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .home-sci{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        width: 250px;
        height: 45px;
        margin: 15px auto 20px; 
        background-color: rgba(0, 0, 0, 0.164) ;
        border-radius: 20px;
    }
    .btn{
        width: 130px;
        margin: 10px auto 0;
        display: block;
    }
}
@media(max-width:560px){
    .home-content h3{
        font-size: 35px;
    }
    .home-content p{
        font-size: 12px;
    }
}
@media(max-width:490px){
    .home-content h3{
        font-size: 33px;
    }
    .home-content p{
        font-size: 11px;
    }
}
@media(max-width:460px){
    .logo{
        font-size: 25px;
    }
    .home-content h3{
        font-size: 31px;
    }
    .home-content p{
        font-size: 11px;
    }
}
@media(max-width:450px){
    .home-content h3{
        font-size: 30px;
    }
}
@media(max-width:447px){
    .home{
        padding: 0;
    }
    .home-image{
        margin: 25px auto;
        width: 300px;
        height: 300px;
    }
    .home-content h3{
        font-size: 35px;
    }
    .home-content h1 {
        font-size: 40px;
    }
    .home-content p{
        font-size: 12px;
    }
}
@media(max-width:394px){
    .home-content h3{
        font-size: 30px;
    }
    .home-content h1 {
        font-size: 35px;
    }
    .home-content p{
        font-size: 10px;
    }
    .logo{
        font-size: 20px;
    }
}
@media(max-width:340px){
    .home-image{
        width: 250px;
        height: 250px;
    }
    .home-content h3{
        font-size: 27px;
    }
    .home-content p{
        font-size: 9px;
    }
}
@media(max-width:303px){
    .home-content h3{
        font-size: 25px;
    }
    .home-content p{
        font-size: 8px;
    }
    .logo{
        font-size: 17px;
    }
}
@media(max-width:280px){
    .home-image{
        width: 200px;
        height: 200px;
    }
    .home-content h3{
        font-size: 20px;
    }
    .home-content h1{
        font-size: 20px;
    }
}
